@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Weryfikacja kodu odzyskiwania";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        hr {
            border: 1px solid #3498db;
        }

        p {
            margin-bottom: 20px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .col-md-4 {
            width: 100%;
        }

        section {
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .form-floating {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .btn-primary {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #2184b7;
            }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>
        You have requested to log in with a recovery code. This login will not be remembered until you provide
        an authenticator app code at log in or disable 2FA and log in again.
    </p>

    <div class="row">
        <div class="col-md-4">
            <section>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                        <label asp-for="Input.RecoveryCode" class="form-label"></label>
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </form>
            </section>
        </div>
    </div>

    <script>
        // Add your scripts here
    </script>
</body>
</html>
