@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            color: #333;
        }

        .form-inline {
            display: inline-block;
        }

        .nav-link {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }

            .nav-link:hover {
                background-color: #2184b7;
            }

        p {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </header>

    <script>
        // Add your scripts here
    </script>
</body>
</html>
